<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Add Comments</title>
    </head>

    <body>
        <h1>Comment Saved!</h1>
        Trail: <%- trailName %>
        <br>
        Name: <%- name %>
        <br>
        Comment: <%- comment %>
    </body>
</html>