<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>NPS Trail Finder</title>
	<link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body>
	<h1>Explore National Parks and Trails</h1>
	<div class="cards">
		<article class="card intro">
			<h3><a href="/search">Search for a trail!</a></h3>
			<p>Find hikes in your state at your preferred difficulty level</p>
		</article>
		<article class="card intro">
			<h3><a href="/parks">Search for a national park!</a></h3>
			<p>Find national parks with your preferred activities</p>
		</article>
		<article class="card intro">
			<h3><a href="/comment">Leave a comment!</a></h3>
			<p>Write comments and feedback for your favorite hikes and national parks hikes</p>
		</article>
		<article class="card intro">
			<h3><a href="/comment">View comments!</a></h3>
			<p>Take a look to see what other hikers and explorers have to say about their trips to the national parks. </p>
		</article>
	</div>
</body>
</html>
