<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>NPS Trail Finder</title>
</head>

<body>
	<h1>Explore National Parks and Trails</h1>
    <a href="/search">Search for a trail</a> 
	<br>
	<a href="/parks">Search for a National Park</a>
</body>
</html>
