<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>See All Comments</title>
    </head>

    <body>
        <h1>All Comments</h1>
        <%- table %>
        <br>
        <br>
        <a href="/">HOME</a>
    </body>
</html>