<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Found Hikes </title>
    <link rel="stylesheet" href="/style.css" type="text/css">

</head>

<body>
    <h1>Found Hikes for <%- state %></h1>
    <div class="cards">
    <%- hikesCards %>
    </div>
	<hr>
    <a href="/">BACK</a>
</body>
</html>
