<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Search Hikes</title>    
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body>
    <h1>Search for Hikes</h1>
    <form action="/search/getHikes" method="post">
        <fieldset>
            <label>Search by State Code <input type="text" id="state" name="state" maxlength="2" minlength="2" pattern="[a-zA-Z]{2}" required placeholder="VA"></label><br>
            <label>Search by Difficulty 
                <select id="difficulty" name="difficulty">
                    <option value="easy">Easy</option>
                    <option value="moderate">Moderate</option>
                    <option value="hard">Hard</option>
                </select>
            </label><br>
        </fieldset><br>
        <input type="Reset"> <input type="submit" value="Search!">
    </form> 
	<hr>
    <a href="/">BACK</a>
</body>
</html>
